.container {
  display: flex;
  gap: 30px;
}
.box {
  background-color: teal;
  padding: 20px;
  color: white;
  border-radius: 10px;
}
.boxcontainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.iems {
  width: 100px;
  padding: 10px;
  background-color: tomato;
}

@media screen and (max-width: 576px) {
  body {
    background-color: aquamarine;
    flex-direction: column;
  }
  .iems {
    width: 100%;
    text-align: center;
    border-radius: 20px;
    color: blue;
    font-weight: bold;
    font-size: 50px;
  }
}
