.box {
  color: rgb(0, 110, 255);
  width: 100px;
  height: 100px;
  border: 2px dashed tomato;
}

.container {
  border: 2px solid red;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  height: 250px;
}
