.container {
  display: flex;
  gap: 30px;
}
.box {
  background-color: teal;
  padding: 20px;
  color: white;
  border-radius: 10px;
}
.boxcontainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.iems {
  width: 100px;
  padding: 10px;
  background-color: tomato;
}

@media screen and (max-width: 576px) {
  body {
    background-color: aquamarine;
    flex-direction: column;
  }
  .iems {
    width: 100%;
    text-align: center;
    border-radius: 20px;
    color: blue;
    font-weight: bold;
    font-size: 50px;
  }
}

.gal-container {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 150px);
}

img {
  width: 100%;
  height: 100%;
}

.big-layout {
  grid-column: span 6;
  grid-row: span 2;
}

.normal-layout {
  grid-column: span 2;
  grid-row: span 2;
}

.wide-layout {
  grid-column: span 2;
  grid-row: span 1;
}

.small-layout {
  grid-column: span 1;
  grid-row: span 1;
}
@media screen and (max-width: 576px) {
  .gal-container {
    display: block;
    gap: 3px;
    grid-template-columns: repeat(2, 1fr);
  }
  .normal-layout,
  .big-layout,
  .small-layout,
  .wide-layout {
    grid-row: span 2;
    grid-column: span 2;
  }
}
